.whosabi-bg {
    background: url('../assets/silhouette-skyline-panorama-city-abuja-nigeria-vector-illustration-silhouette-skyline-panorama-city-abuja-nigeria-247636582.svg');
    background-size: cover;
    background-position: center;    
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    color: white;
  }

  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .category-overlay-inside {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(15, 22, 35, 0.5);
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  
  .category-box {
    width: 100%;
    padding: 2rem 1rem;
    text-align: center;
    font-family: 'Rubik', sans-serif;
  }
  
  .top-box {
    background-color: #dcdcdc;
    border-radius: 12px;
    padding: 6px 12px;
  }
  
  .top-icon {
    width: 24px;
    height: 24px;
  }
  
  .top-text {
    font-weight: 600;
    font-size: 16px;
    color: #000;
  }
  
  .settings-btn {
    background: #5FD0AB;
    border: none;
    padding: 4px;
  }
  
  .whosabi-logo {
    max-width: 300px;
    width: 100%;
  }
  
  .play-btn {
    background-color: #f59e0b;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
  }
  
  @media (max-width: 576px) {
    .whosabi-logo {
      max-width: 200px;
    }
    .play-btn {
      font-size: 16px;
      padding: 10px 24px;
    }
  }
  